body {
    background: #0d1117;
    color: #fff;
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

.card {
    background: #161b22;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    margin: auto;
    box-shadow: 0 0 10px #0006;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #238636;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover { background: #2ea043; }
